/*font*/
* {
  font-family: 'Muli', sans-serif;
}

.content {
  margin: 2.5%;
}

/*header*/
header {
  text-align: left;
  background-image: url("banner2.jpg");
  height: auto;
}

header h1 {
  position: absolute;
  top: 0vh;
  left: 1vw;
}

.banner {
  position: relative;
}


.text-overlay {
  color: #ffcc33;
  position: absolute;;
  width: 100%;
 }

/*nav bar */


.text-overlay {
    list-style-type: none;
    margin: 2.5%;
    padding: 0;
}

.nav {
  display: block;
  width: 80px;
  float: left;
}

header ul {
  position: absolute;
  bottom: 0;
}

/* Index*/

.star {
  list-style-type: none;
}

/* About Page */


.star:before {
  color: #ffcc33;
}

h3 {
  color: #00898e;
}

h4 {
  color: #00898e;
}

/* unvisited link */
a:link {
  color: #ffcc33;
}
/* visited link */
a:visited {
  color: #ffcc33;
}
/* mouse over link */
a:hover {
  color: #ffcc33;
}
/* selected link */
a:active {
  color: #ffcc33;
}

.selected a {
  color: #ffeebc;
}

/* Image  GET TO NON SQUISHY SIZE*/

img {
  max-width: 100%;
  display: block;
}

.profile-photo {
  margin: 5%;
}


/*body*/

body {

}

h2 {
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: block;
  color: #00898e;
}

p {
  margin: 5%;
}

/*Contact*/

.contact {
  margin: 2.5%;
}


/* Responsive */

.row_container {
  display: flex;
}

.row_container {
  flex-wrap: wrap;
}


/*480*/
@media screen and (min-width: 480px){


.column_container {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

.profile_item {
  flex: 1;
}

/*660*/

@media screen and (min-width: 660px){

.banner {
  max-height: 17rem;
  overflow: hidden;
}
h2 {
  margin-left: 2.5%;
  margin-right: 2.5%;
  display: block;
}

}
/*1024*/
@media screen and (min-width: 1024px){


.content {
  margin-left: 10%;
  margin-right: 10%;
}


/* Footer */
footer {
  clear:both;
  width: 100%;
  margin: auto;
}
.social-icon {
  width: 50px;
  height: 50px;
  padding: 5%;
  margin: 5%;
}
