/*font*/

* {
  font-family: 'Muli', sans-serif;
}

/*header*/
header {
  text-align: left;
  background-image: url("banner2.jpg");
  height: auto;
  max-width:

}

.banner {
  position: relative;
}

.text-overlay {
  color: #F5CE4C;
  position: absolute;;
  top: 5%;
  left: 5%;
  width: 100%;
 }

/*nav bar */
.nav{
  position: relative;;
  top: 1px;
  left: 1px;
}

ul {
    list-style-type: none;
    margin: 2.5%;
    padding: 0;
}

li {
  display: block;
  width: 80px;
  float: left;
  padding-top: 22%;
}

/* unvisited link */
a:link {
  color: #F5CE4C;
}
/* visited link */
a:visited {
  color: #F5CE4C;
}
/* mouse over link */
a:hover {
  color: #F5CE4C;
}
/* selected link */
a:active {
  color: #F5CE4C;
}

/* Image  GET TO NON SQUISHY SIZE*/

img {
  max-width: 100%;
  display: block;
}

.profile-photo {
  margin: 5%;
}


/*body*/

body {

}

.row_container {
  display: flex;
  padding: 2.5%, 0, 0, 0
}


h2 {
  margin: 2.5%;
}

p {
  margin: 5%;
}


/* Responsive */

.row_container {
  flex-wrap: wrap;
}


/*480*/
@media screen and (min-width: 480px){


.column_container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: yellow;
  }
  .one {
    flex: 100;
  }
  .two {
    flex: 100;
  }
  .three {
    background-color: pink;
    flex: 1;
    display: none;

  }


/*660*/

@media screen and (min-width: 660px){

.column_container {
  background-color: red;
}

}
/*1024*/
@media screen and (min-width: 1024px){

.column_container {
  background-color: blue;
}
.banner {
  max-height: 17rem;
  overflow: hidden;
}



/*need a solution for the nav bar
.header_flex{
  display: flex;
  flex-direction: column;
}

.header_left{
  flex: 1;
}

.header_right{
  flex: 1;
}
*/

/*Add 3rd Column*/


/* Work */

/* Add portfolio layout to work section*/

.work {
  padding: 5%;
  text-align: center;
}



/* Footer */
footer {
  clear:both;
  width: 100%;
  margin: auto;
}
.social-icon {
  width: 50px;
  height: 50px;
}
