/* Grid */

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
}

.item{
  flex: 1;
  padding: 2.5%;
}

@media screen and (min-width: 660px){

  .banner {
      max-height: 25vh;
      overflow: scroll;
    }

}
