/*font*/
* {
  font-family: 'Muli', sans-serif;
}

/*header*/
header {
  text-align: left;
  background-image: url("banner2.jpg");
  height: auto;
}

.banner {
  position: relative;
}

.text-overlay {
  color: #F5CE4C;
  position: absolute;;
  top: 5%;
  left: 5%;
  width: 100%;
 }

/*nav bar */
.nav{
  position: relative;;
  top: 1px;
  left: 1px;
}

ul {
    list-style-type: none;
    margin: 2.5%;
    padding: 0;
}

li {
  display: block;
  width: 80px;
  float: left;
  padding-top: 22%;
}

/* unvisited link */
a:link {
  color: #F5CE4C;
}
/* visited link */
a:visited {
  color: #F5CE4C;
}
/* mouse over link */
a:hover {
  color: #F5CE4C;
}
/* selected link */
a:active {
  color: #F5CE4C;
}

/* Image  GET TO NON SQUISHY SIZE*/

img {
  max-width: 100%;
  display: block;
}

.profile-photo {
  margin: 5%;
}


/*body*/

body {

}

h2 {
  margin: 2.5%;
}

p {
  margin: 5%;
}

/* Grid */


.row_item_work {
  display: flex;
  flex: 1;
}


.column_container_work {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 2.5%;
}


@media screen and (min-width: 660px){

  .banner {
      max-height: 25vh;
      overflow: scroll;
    }

}
